h2{
    text-align: center;
}
table.marks {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}
thead{
    background-color: darkgray;
}

th,
 td {
  border: 1px solid #cbd5e1;
  padding: 8px;
  text-align: center;
}
tfoot{
    
    background-color: #cbd5e1;
}